body {
    background-color: lightyellow;
    font-size: 18px;
    min-width: 320px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: lightgreen;
    height: 90vh;
}